*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }  
  
body {
    /* padding: 0px; */
    background: burlywood;
  }
 
  
  /* Nav Buttons -- Controls,etc.  */
/* Controls */
nav {
    background-color: rgb(85, 82, 88);
}

.controls{
    /* position: fixed; */
    /* display: inline-box;
    display:inline-flex;
    flex-direction:row;
    transform: translateY(-250%) */
    /* Centered the nav buttons */
     /* translateX(30%); */
    /* z-index: 10; */
  
    
}

.active-btn:hover{
    background-color: rgb(53, 56, 56);
    transition: all .4s ease-in-out;
    
}

.active {
    display: inline-flex;
}

/* .active-btn:hover {
    color: rgb(122, 255, 242);
} */

.control{
    padding: 1rem;
    cursor: pointer;
    background-color: #158e99;
    width: 55px;
    height: 55px;
    border-radius: 55%;
    /* justify-content: center; */
  
    
}


i{
    font-size: 1.2rem;
    color: tan;
    pointer-events: none;
}


/* Start -- Intro/Header Section */

  /* #home {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    /* padding-bottom: 4vmin; */
    /* height: 90vh;
    width: 100%; */
    /* background: rgb(236, 97, 97); */ 
    /* color: rgb(41, 252, 252); */
    /* border: 10px solid grey
  } */
  



  
  