* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px 0px;
    flex-direction:column;
    min-height: 100vh;
    background-color: lightskyblue;
  }
  /* Header background image */
  header {
    display: block;
    height: 830px;
    width: 100%;
    margin-bottom: -30px;
    padding: 40px;
    text-align: center;
    background-image: url(./images/portfolio_header_1.png);
    background-size: cover;
    background-position: center;
    color: wheat;
  }
/* Main header */
  h1 {
    display: inline;
    float: left;
    margin: -25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    color: lemonchiffon;
    
  }
/* Section headers */
  h2 {
    text-align: center;
    background-color: peachpuff;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 125px;
    padding: 15px;
    border: 10px purple solid;
    font-size: 35px;
  }

  p {
    text-align: center;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace ;
    margin-top: -100px;
  }

  /* Image under main header */
  .headshot {
    display: flex;
    float: left;
    align-items: center;
    margin: 45px -420px -185px;
 
  }
  img {
    border: solid 5px;
    max-width: 45%
 
  }

  .image {
    flex-basis: 55%
  }

  /* Text next to head shot image */
  .text {
    font-size: 20px;
    padding-left: 0px;
    margin: -9px -15px 35px -130px;
  }

/* Menu Bar */
  #navbar {
  background-color:peachpuff; 
  position: fixed; 
  top: -50px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s;
  }

  #navbar a {
  display: inline-block;
  margin: 0px 0px -10px 300px;
  color:purple;
  padding: 1px;
  font-size: 25px;
  font-family: cursive;
  text-decoration: solid;
  }

  #navbar a:hover {
    background-color: #ddd;
    color: palevioletred;
  }


  /* Spacing for project images */
  .row {
    display: flex;
    margin: -40px -0px 9px 95px;
  }
  
  /* Create three equal columns that sits next to each other - project images */
  .column {
    flex: 33.33%;
    margin-left: 300px;
  }

   /* HTML project box */
  #rcorners1 {
    border-radius: 5px;
    background: #ee308f;
    font-size: 50px;
    padding: 10px; 
    width: 160px;
    height: 90px;  
    margin: -10px 250px -250px 250px;
  }

  /* HTML+CSS project box */
  #rcorners2 {
    border-radius: 15px;
    background: #ee308f;
    font-size: 50px;
    padding: 10px; 
    width: 160px;
    height: 190px;  
    margin: 40px 150px 185px -290px;
  }

  /* HTML + Javascript */
  #rcorners3 {
    border-radius: 25px;
    background: #ee308f;
    font-size: 50px;
    padding: 30px; 
    width: 350px;
    height: 200px; 
    margin: -350px 490px 50px; 
  }

  .hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  .hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }
  

/* Contact form area */
  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 1px solid #ccc;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 15px; /* Add a top margin */
    margin-bottom: 10px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /* Submit button */
  input[type=submit] {
    background-color: purple;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  /* Submit button hover color */
  input[type=submit]:hover {
    background-color: #45a049;
  }

  /* Contact form background color and padding */
  .container {
    border-radius: 9px;
    background-color: peachpuff;
    padding: 20px;
    margin: -80px 100px 200px;
  }

  /* Footer placement */
.text-center {
  text-align: center;
}

  footer {
    margin-top: 0;
    bottom: 0;
    color: black;    
  }

  @media screen and (max-width: 575px) {
  .container1, .container2, .container3 {
    background-color: yellow;
    width: 100%
  
  }
}

  @media screen and (max-width: 768px) {
  .container1, .container2, .container3 {
    background-color: yellow;
    width: 100%
  }
}
  
  @media screen and (max-width: 1442px) {
  .container1, .container2, .container3 {

  }
}

