*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none; 
}

:root{
    --color-primary: #8B008B;
    --color-secondary: #40E0D0;
    --color: #696969;
    --color: black;
    --color: lightgrey;
    --color: whitesmoke;
    --color: lightblue;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.2)  
}


body{
    background-color: var(--color-primary);
    color: var(--color-#696969);
    font-family: 'Merriweather', serif;
    font-size: 1.1rem;
    transition: all .4s ease-in-out;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header{
    height: 100vh;
    color: var(--color-whitesmoke);
    overflow: hidden;
}

section{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.section{
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);
}

.sec1{
    display: none;
    transform: translateY(0) scale(1);
}

.sec2{
    display: none;
    transform: translateY(0) scale(1);
}

.sec3{
    display: none;
    transform: translateY(0) scale(1);
}

.sec4{
    display: none;
    transform: translateY(0) scale(1);
}

.sec5{
    display: none;
    transform: translateY(0) scale(1);
}

/* Controls */
.controls{
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-50%);
}

.active-btn{
    background-color: var(--color-secondary) !important;
    transition: all .4s ease-in-out;
    
}

i{
    color: var(--color-black) !important;
}

.control{
    padding: 1rem;
    cursor: pointer;
    background-color: #696969;
    width: 55px;
    height: 55px;
    border-radius: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .7rem 0;
    box-shadow: var(--box-shadow-1);
    
}

i{
    font-size: 1.2rem;
    color: var(--color-lightgrey);
    pointer-events: none;
}
